 body {
      font-family: sans-serif;
      margin: 0;
      padding: 1em;
    }
    header, main, footer {
      padding: 1em;
      margin-bottom: 1em;
      background-color: #f0f0f0;
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
